# Dependency directories
node_modules/

# Environment variables file
.env

# Logs
logs/
*.log
npm-debug.log*

# Compiled binary addons (if any)
build/

# Output of 'npm pack'
*.tgz

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
