.output {
        background-color: #272822;
        color: aliceblue;
        width: 28.5vw;
        border-radius: 10px;
        height: 48%;
        resize: none;
        font-size: 20px;
        line-height: 1.1;
        padding: 10px;
}
.right-output {
        color: white;
        font-size: 24px;
}
