.input {
        background-color: #272822;
        color: aliceblue;
        width: 28.5vw;
        border-radius: 10px;
        height: 48%;
        resize: none;
        font-size: 28px;
        line-height: 1.3;
        padding: 10px;
}
.right-input {
        color: white;
        font-size: 24px;
}
.right-input span {
        padding-left: 10px;
        font-size: 14px;
}
