.select-language {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%; /* Set height relative to parent's height */
        width: 90%; /* Set width relative to parent's width */
        background-color: #2f3136;
        color: white;
        font-size: 24px; /* Adjust font-size relative to viewport width */
        border-radius: 10px;
        border: 1px solid white;
}

.custom-select-container {
        background-color: #262626;
        width: 90%; /* Set width of the container relative to parent's width */
        height: 90%; /* Set height of the container relative to parent's height */
        margin: auto; /* Center the container horizontally */
}
