.questionpagebtn {
	width: 25%;
	color: white;
}
button.active {
	border-bottom: 1px solid white;
}
.navbar {
	margin-top: 1.5vh;
	margin-left: 1vw;
	width: 46vw;
	height: 7vh;
	border: 1px solid white;
	border-radius: 10px;
	display: flex;
	align-items: center;
}
::-webkit-scrollbar {
	width: 0.5rem;
	margin-right: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #564d4f;
	width: 0.5rem;
	border-radius: 5px;
}

::-webkit-scrollbar-track {
	margin-top: 8px;
	margin-bottom: 8px;
}
.palash {
	border: 1px solid white;
	border-radius: 10px;
	font-size: x-large;
}
