.title {
        color: white;
        font-size: 24px;
        padding-left: 20px;
        padding-top: 10px;
        font-weight: 700;
}
.diff {
        color: #42fea6;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 10px;
}
.desc {
        color: white;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 10px;
}
.example {
        color: white;
}
