.onlinecompilersub {
        border: 3px solid white;
        height: 70vh;
        margin-top: 3vh;
        padding: 10px;
        background-color: #2c2d32;
        overflow-y: scroll;
}
.xyzabcd {
        border-bottom: 1px solid white;
}
.abcd {
        font-size: 24px;
        color: white;
}
.xyz {
        width: 60vw;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding-left: 10px;
}
.bcd {
        background-color: #222222;
        color: white;
        border-radius: 10px;
        width: 20vw;
        padding-left: 10px;
}
